<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="Istana Merdeka">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nama Produk</span>
        <input type="text" placeholder="Gula Merah">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Harga</span>
        <input type="text" placeholder="42000">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="postData()">
      Post
    </button>

  </ion-content>
</ion-view>
